.navbar-wrapper {
  padding: 2rem 10%;
}

.navbar-wrapper .navbar-links-wrapper {
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  box-shadow:  0 0 100px 0 #00000054;
}

.navbar-wrapper .navbar-links-wrapper .navbar-item {
  position: relative;
  transition: .4s;
  flex: 1 0 20%;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
}

.navbar-wrapper .navbar-links-wrapper .navbar-item a {
  transition: .3s;
  color: #3b3939;
}

.navbar-wrapper .navbar-links-wrapper .navbar-item:hover a {
  transition: .3s;
  color: #000000;
}

.navbar-wrapper .navbar-links-wrapper .navbar-item::before {
  content: '';
  position: absolute;
  color: black;
  transition: .4s;
  width: 0;
  left: 25%;
  bottom: 1.24rem;
}

.navbar-wrapper .navbar-links-wrapper .navbar-item:hover {
  transition: .4s;
  flex: 2 0 25%;
  backdrop-filter: brightness(1.1);
}

.navbar-wrapper .navbar-links-wrapper .navbar-item:hover::before,
.navbar-wrapper .navbar-links-wrapper .navbar-item.active::before {
  border: 1px solid black;
  animation-name: line_animation;
  animation-duration: .4s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes line_animation {
  from {
    left: 50%;
    width: 0;
  }
  to {
    left: 25%;
    width: 50%;
  }
}

.navbar-wrapper .navbar-links-wrapper .navbar-item.active {
  transition: .4s;
  flex: 3 0 25%;
  backdrop-filter: brightness(1.5);
}
