.comment-wrapper {
  border-radius: 5px;
  background: rgba(255, 255, 255, .1);
  box-shadow: 0 0 100px 0 #00000054;

  .comment-item {
    border-bottom: 1px solid black;
    margin-bottom: 1rem;

    &:last-child {
      border-bottom: none;
    }

    .comment-item-date {
      margin-bottom: .25rem;
      color: black;
      font-size: 12px;
    }
    .comment-item-text {
      color: black;
      font-size: 18px;
    }
  }
}
